Repository SSAFY7th-Seoul14/Algorithm-Study-B, pull requests merged in 2022-02, with the labels that each got.

#6 안호진 / 2월 2주차 / 22문제
  hojin/boj/brute_force/1436_영화감독숌.java
  hojin/boj/datastructure/array/2563_색종이.java
  hojin/boj/datastructure/deque/1021_회전하는큐.java
  hojin/boj/datastructure/deque/10866_덱.java
  hojin/boj/datastructure/deque/5430_AC.java
  hojin/boj/datastructure/linkedlist/1406_에디터.java
  hojin/boj/datastructure/queue/1158_요세푸스문제.java
  hojin/boj/datastructure/queue/13335_트럭.java
  hojin/boj/datastructure/queue/18258_큐2.java
  hojin/boj/datastructure/queue/1996_프린터큐.java
  hojin/boj/datastructure/stack/1874_스택수열.java
  hojin/boj/datastructure/stack/2493_탑.java
  hojin/boj/datastructure/tree/1991_트리순회.java
  hojin/boj/greedy/11047_동전0.java
  hojin/boj/greedy/12927_배수스위치.java
  hojin/cls/JumpCheck.java
  hojin/sea/array/1210_Ladder1.java
  hojin/sea/array/2805_농작물수확하기.java
  hojin/sea/pcs/9229_한빈이와 Spot Mart.java
  hojin/sea/queue/1225_암호생성기.java
  hojin/sea/queue/3499_퍼펙트셔플.java
  hojin/sea/stack/1218_괄호 짝짓기.java
  hojin/sea/stack/5432_쇠막대기자르기.java
Labels: BOJ, Stack, Tree, Queue, Linked List, SEA

#3 우정무 / 2월 2주차 / 40문제
  jeongmoo/BOJ/Bruteforce/1436_DirectorSyom.java
  jeongmoo/BOJ/Bruteforce/1811_Minecraft.java
  jeongmoo/BOJ/Greedy/11047_Coin.java
  jeongmoo/BOJ/Greedy/12927_MultipleSwitch.java
  jeongmoo/BOJ/Implementation/1292_EasyProblem.java
  jeongmoo/BOJ/Implementation/2563_ColorPaper.java
  jeongmoo/BOJ/Map/10816_NumberCard2.java
  jeongmoo/BOJ/Map/1620_PokemonMaster.java
  jeongmoo/BOJ/Math/1002_Turret.java
  jeongmoo/BOJ/Math/1011_AlphaCentauri.java
  jeongmoo/BOJ/Math/11653_PrimeFactorization.java
  jeongmoo/BOJ/Math/3009_4thPoint.java
  jeongmoo/BOJ/Math/3053_TaxicapGeometry.java
  jeongmoo/BOJ/Queue/1021_RotatingQueue.java
  jeongmoo/BOJ/Queue/10866_Deque.java
  jeongmoo/BOJ/Queue/11866_JosephusProblem0.java
  jeongmoo/BOJ/Queue/13335_Truck.java
  jeongmoo/BOJ/Queue/18258_Queue2.java
  jeongmoo/BOJ/Queue/1966_PrinterQueue.java
  jeongmoo/BOJ/Queue/2164_Card2.java
  jeongmoo/BOJ/Queue/5430_AC.java
  jeongmoo/BOJ/Recursion/2447_StarDrawing10.java
  jeongmoo/BOJ/Search/1654_CuttingLANCable.java
  jeongmoo/BOJ/Search/1920_FindNumber.java
  jeongmoo/BOJ/Search/2805_CuttingTrees.java
  jeongmoo/BOJ/Search/2805_CuttingTrees_BinarySearch.java
  jeongmoo/BOJ/Sort/11650_SortPoint.java
  jeongmoo/BOJ/Stack/10773_Zero.java
  jeongmoo/BOJ/Stack/1406_Editor_Iterator.java
  jeongmoo/BOJ/Stack/1406_Editor_Stack.java
  jeongmoo/BOJ/Stack/17298_RightBigNumber.java
  jeongmoo/BOJ/Stack/1874_StackSequence.java
  jeongmoo/BOJ/Stack/2493_Tower.java
  jeongmoo/BOJ/Stack/4949_BalancedWorld.java
  jeongmoo/BOJ/Tree/1991_TreeTraversal.java
  jeongmoo/SEA/BruteForce/2805_HarvestingCrops.java
  jeongmoo/SEA/BruteForce/9229_SpotMart.java
  jeongmoo/SEA/Implementation/1210_Ladder1.java
  jeongmoo/SEA/Implementation/1225_PasswordGenerator.java
  jeongmoo/SEA/LinkedList/1228_Cryptogram.java
  jeongmoo/SEA/Queue/3499_PerfectShuffle_Array.java
  jeongmoo/SEA/Queue/3499_PerfectShuffle_Queue.java
  jeongmoo/SEA/Stack/1218_MatchBracket.java
  jeongmoo/SEA/Tree/1233_ArithmeticValidation.java
Labels: BOJ, Stack, Tree, Queue, Linked List, Brute Force, Greedy, SEA, Mathematics

#8 고태희 / 2월 2주차 / 1문제
  .gitignore
  .project
  taehee/.classpath
  taehee/.settings/org.eclipse.jdt.core.prefs
  taehee/boj/BruteForce/BOJ1436.java
  taehee/boj/BruteForce/BOJ2961.java
  taehee/boj/DataStructure/BOJ1021.java
  taehee/boj/DataStructure/BOJ10866.java
  taehee/boj/DataStructure/BOJ13335.java
  taehee/boj/DataStructure/BOJ18258.java
  taehee/boj/DataStructure/BOJ1874.java
  taehee/boj/DataStructure/BOJ1966.java
  taehee/boj/DataStructure/BOJ1991.java
  taehee/boj/DataStructure/BOJ5430.java
  taehee/boj/Greedy/BOJ11047.java
  taehee/sea/SW1218.java
  taehee/sea/sea9229.java
Labels: BOJ, Stack, Tree, Queue, SEA

#27 안호진 / 2월 4주차 / 15문제
  hojin/boj/backtracking/14888_연산자 끼워넣기.java
  hojin/boj/brute_force/1759_암호 만들기.java
  hojin/boj/dfs_bfs/4963_섬의 개수.java
  hojin/boj/disjoint-set/11724_연결 요소의 개수.java
  hojin/boj/disjoint-set/9372_상근이의 여행.java
  hojin/boj/implementation/1592_영식이와 친구들.java
  hojin/boj/simulation/16236_아기 상어.java
  hojin/jol/backtracking/1681_해밀턴 순환회로.java
  hojin/jol/greedy/1828_냉장고.java
  hojin/pgs/greedy/섬 연결하기.java
  hojin/sea/array/7236_저수지의 물의 총 깊이 구하기.java
  hojin/sea/dfs_bfs/1238_Contact.java
  hojin/sea/dfs_bfs/1861_정사각형 방.java
  hojin/sea/disjoint-set/3289_서로소 집합.java
  hojin/sea/disjoint-set/7465_창용 마을 무리의 개수.java
  hojin/sea/mst/1261_하나로.java
Labels: BOJ, SEA, Backtracking, BFS, Bit Masking, MST
